<h1>帮助手册</h1>
<p><a href="https://docs.qq.com/doc/DYVdmQmFOYVF0a1VG?pub=1&dver=2.1.0" target="_blank">我们是要做什么？---志愿者必读</a></p>
<h1>开始</h1>
<p>感谢您志愿参与中文共情对话数据集构造工作！</p>
<p>您首先要选择进入房间或者创建房间。您进入每个房内会看到一个对话任务，一个房间只会有两个人能进入。</p>
<p>新房创建成功后，您会得到一个房间号和房间密码（务必记住）。掉线的用户可以凭密码重新进入房间。</p>
<p>----------------------------------------------------------------------------------</p>
<p><a href="/chatai/register/">创建新房间</a></p>
<form action="{% url 'chatai:index' %}" method="post">
    {% csrf_token %}
    已有房间号：
    <input type="text" name="room_id" style="width:50px"/>
    <input type="submit" value="房进入间" />
</form>